<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {#  icons#}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    {#    MediumEditor#}
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    {#  Custom CSS  #}
    <link rel="stylesheet" href=" {% static 'css/blog.css' %}">

    {#  Fonts   #}
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">

    <title>Title</title>
</head>
<body class="loader">
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light techfont">

        <a class="navbar-brand" href="{% url 'post_list' %}">My blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">

              <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About<span class="sr-only">(current)</span></a>
              </li>
            </ul>

            <ul class="navbar-nav navbar_right">
                {% if user.is_authenticated %}
                    <li>
                        <a class="nav-link" href="{% url 'post_new' %}">New Post</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'post_draft_list' %}">Drafts</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'logout'%}">Log Out</a>
                    </li>
                    <li>
                        <a class="nav-link">Welcome: {{ user.username }}</a>
                    </li>
                {% else %}
                    <li class="navbar-right">
                        <a class="nav-link" href="{% url 'login' %}">login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="content container ">
        <div class="row">
            <div class="col-md-8">
                <div class="blog_posts">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>