{% extends "blog/base.html" %}
{%  block content %}
    <h1>Post list</h1>
    <div class="centerstage">
        {% for post in posts %}
            <div class="post">
                <h1><a href="{% url 'post_detail' pk=post.pk  %}">{{ post.title }}</a> </h1>
                <div class="date">
                    <p>Publish on: {{ post.publish_date|date:"Y-m-d" }}</p>
                </div>
                <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comment.count }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}